{% load project_tags %}
<article class="text">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-12">
                {% if instance.title %}
                    <h2>{{ instance.title }}</h2>
                {% endif %}
                {% if instance.link %}
                <div class="d-none d-sm-flex col-sm-4 col-md-3 justify-content-end">
                    <a class="more" href="{{ instance.link }}" target="_blank">{{ instance.link_label|default:'Mehr erfahren' }}</a>
                </div>
                {% endif %}
                {% if instance.body %}
                    <div class="richtext">
                        {{ instance.body|richtext }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</article>
