{% load project_tags imagesize_tags cms_tags %}
<article class="fullimage-with-text fullimage-with-columntext md-image-top">
    <div class="cover-background" data-slickslider data-slickslider-arrows data-slickslider-dots="0">
        {% for relation in instance.images.relations %}
            {% with image=relation.image %}
            <figure{% if relation.caption or instance.caption %} class="captioned"{% endif %}>
                <img {% srcset image 'fullwidth' ratio=instance.ratio %} alt="{% firstof relation.caption instance.caption image %}" />
                {% if relation.caption or instance.caption %}
                    <figcaption>{% i18ncaption relation default=instance.caption %}</figcaption>
                {% endif %}
            </figure>
            {% endwith %}
        {% endfor %}
    </div>
    {% if instance.container %}<div class="{{ instance.container }}">{% endif %}
        <div class="row justify-content no-gutters">
            {% for plugin in instance.child_plugin_instances %}
               {% render_plugin plugin %}
            {% endfor %}
        </div>
    {% if instance.container %}</div>{% endif %}
</article>

