{% load cms_tags %}
<article class="highlight-group">
   {% if instance.container == 2 %}
        <div class="container">
    {% elif instance.container == 3 %}
        <div class="container-fluid">
    {% endif %}
            {% if instance.title %}
                <div class="row">
                    <div class="col-12 col-sm">
                        <h2>{{ instance.title }}</h2>
                    </div>
                </div>
            {% endif %}
            <div class="row justify-content-center">
                {% with in_group=1 highlight_count=instance.child_plugin_instances|length %}
                    {% for plugin in instance.child_plugin_instances %}
                        {% render_plugin plugin %}
                    {% endfor %}
                {% endwith %}
            </div>
    {% if not instance.container == 1 %}
        </div>
    {% endif %}
</article>
