{% load static project_tags imagesize_tags %}
{% if in_group %}
    {% if highlight_count > 4 %}
    <div class="col-6 col-sm-4 col-md-2">
    {% else %}
    <div class="col-6 col-sm-6 col-md-3">
    {% endif %}
        <div class="card">
            <div class="card-header">
                <figure>
                    <img src="{{ instance.files.files.0.url }}" alt="{{ instance.title }}">
                    {# <img {% srcset instance.images.image 'fullwidth' sizes="400px" %} alt="{{ instance.title }}"> #}
                </figure>
            </div>
            {% if instance.title or instance.body %}
                <div class="card-body">
                    {% if instance.title %}
                        <h3>{{ instance.title }}</h3>
                    {% endif %}
                    {% if instance.body %}
                        <div class="richtext">
                            {{ instance.body|richtext }}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
{% else %}
    <article class="highlight">
        {% if instance.container %}<div class="{{ instance.container }}">{% endif %}
            <div class="row justify-content-center">
                <div class="col-6 col-md-2 my-auto">
                    <figure>
                        <img src="{{ instance.files.files.0.url }}" alt="{{ instance.title }}">
                        {# <img {% srcset instance.images.image 'fullwidth' sizes="400px" %} alt="{{ instance.title }}"> #}
                    </figure>
                </div>
                <div class="col-12 col-md-10 my-auto">
                    {% if instance.title %}
                        <h2 class="text-center text-sm-left">{{ instance.title }}</h2>
                    {% endif %}
                    <div class="richtext">
                        {{ instance.body|richtext }}
                    </div>
                </div>
            </div>
        {% if instance.container %}</div>{% endif %}
    </article>
{% endif %}


