{% load cms_tags %}
<article class="highlight-group">
    {% if instance.container %}<div class="{{ instance.container }}">{% endif %}
        {% if instance.title %}
            <div class="row">
                <div class="col-12">
                    <h2>{{ instance.title }}</h2>
                </div>
            </div>
        {% endif %}
        <div class="row justify-content-center">
            {% with in_group=1 highlight_count=instance.child_plugin_instances|length %}
                {% for plugin in instance.child_plugin_instances %}
                    {% render_plugin plugin %}
                {% endfor %}
            {% endwith %}
        </div>
    {% if instance.container %}</div>{% endif %}
</article>