{% load static imagesize_tags project_tags %}
<li {% if forloop.first %}class="selected"{% endif %}>
    <div class="inner">
        {% if instance.images.count %}
            {% with relation=instance.images.relations.0 image=instance.images.image  %}
                <img {% if relation.border %}class="border"{% endif %}
                     {% srcset image None 'fleximage-4-3' '50vw' %} alt="{{ instance.title }}" />
            {% endwith %}
        {% endif %}
            <h4>{{ instance.title }}</h4>
            {{ instance.body|richtext }}
    </div>
</li>
