{% load project_tags imagesize_tags %}
<article class="video-with-text">
	{% if instance.container %}<div class="{{ instance.container }}">{% endif %}
		<div class="row">
			<div class="col-12 col-md-6 {% if instance.display == "right" %} order-md-2{% endif %}">
			    {% if is_embed_video %}
                <div data-toggle="plyr" data-poster="{{ poster }}"
                     class="plyr plyr__video-embed">
                    {{ instance.code|safe }}
                </div>
                {% else %}
                <video data-toggle="plyr" class="plyr" data-poster="{{ poster }}"
                       playsinline controls>
                    {% for file in instance.files.files %}
                        <source src="{{ file.url }}" type="video/{{ file.extension }}" />
                    {% endfor %}
                </video>
                {% endif %}
			</div>
			<div class="col-12 col-md-6 my-auto">
                <div class="card{% if instance.display == "right" %} right{% endif %}">
                    {% if instance.title %}
                        <div class="card-header">
                            <h2>{{ instance.title|safe }}</h2>
                        </div>
                    {% endif %}
                    <div class="card-body">
                        {{ instance.body|richtext }}
                    </div>
                </div>
			</div>
		</div>
	{% if instance.container %}</div>{% endif %}
</article>
