Django==1.11.16
django-classy-tags
django-cms
django-formtools
django-sekizai
django-treebeard
djangocms-admin-style
pkg-resources
pytz
cryptography
pytz
django_compressor
django-debug-toolbar
fabric
pycrypto
django_ckeditor
djangocms_admin_style
django_filer
easy_thumbnails
django_admin_shortcuts
django-autoslug
beautifulsoup4
python-memcached
django-codemirror2
Whoosh
django-haystack
xlrd
django-reversion
django-bootstrap4
django-rosetta
django-modeltranslation
#http://download.maisengasse.at/eggs/maisen.cmstools-2.4.0.dev11.tar.gz
#http://download.maisengasse.at/eggs/emencia.django.newsletter-1.0.0rc1-maisen.tar.gz
ajaxuploader
python-dateutil
django_ical
hashids
django-libsass
django-cache-utils
django-recaptcha
csscompressor
translitcodec
django-htmlmin
mysqlclient
