{% extends "default.html" %}
{% load imagesize_tags i18n cms_tags project_tags %}

{% block content %}
    <article class="module-list">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        {% for item in current_page.object_list %}
                        <li>
                            {% render_model_block item %}
                            <h3>{{ item.title }}</h3>
                            <img {{ item.images.image|srcset:'halfwidth' }} alt="{{ item.title }}" />
                            <a href="{{ item.get_absolute_url }}">mehr</a>
                            {% endrender_model_block %}
                        </li>
                        {% empty %}
                        <li>
                            Es wurden keine Objekte gefunden.
                        </li>
                        {% endfor %}
                    </ul>
                    {% comment %}
                        {% include 'views/pager.html' %}
                    {% endcomment %}
                </div>
            </div>
        </div>
    </article>
{% endblock content %}
