{% load menu_tags %}
<button class="navbar-toggler navbar-toggler-right hamburger hamburger--collapse" type="button" data-toggle="collapse" data-target="#maisen-dropdown-nav" aria-controls="navbar-project" aria-expanded="false" aria-label="Toggle navigation">
    <span class="hamburger-box">
        <span class="hamburger-inner"></span>
    </span>
</button>
<div class="collapse navbar-collapse justify-content-end" id="maisen-dropdown-nav">
    <ul class="navbar-nav">
        {% show_menu 0 100 100 100 "navigations/dropdown/main.html" %}
    </ul>
</div>
