// –––––––––––––––––––––––––––––– All Stencils ––––––––––––––––––––––––––––––
// FullImage // fullimage
// FullImageWithText // fullimage-with-text
// FullText // fulltext
// TeaserGroup // teaser-group
// FullImageWithColumnText / fullimage-with-columntext
// ImageWithText / image-withtext
// HighlightGroup
// Highlight
// Testimonials
// Timeline


// –––––––––– FullImage // fullimage ––––––––––
article.fullimage {
	// Imageoverlay
	// figure {
	// 	position: relative;
	// 	&:after {
	// 		@include pseudo;
	// 		width: 100%;
	// 		height: 100%;
	// 		left: 0;
	// 		top: 0;
	// 		background-color: #3C3C3B;
	// 		opacity: .1;
	// 	}
	// }
}


// –––––––––– FullImageWithText // fullimage-with-text ––––––––––
article.fullimage-with-text {
	position: relative;

	.card {
		margin: 200px 0;
		padding: 60px;
	}
	
	&.md-image-top {
		@include media-breakpoint-down(md) {
			.cover-background {
				position: static;
			}
			.col-md-6 {
				flex: 0 0 100%;
				max-width: 100%;
				margin-left: 0;
			}
			.card {
				background: transparent !important;
				padding: 25px 0;
				margin: 15px 0 60px 0;
				box-shadow: none;
			}
		}
	}
}


// –––––––––– FullText // fulltext ––––––––––
article.fulltext {
	margin: 100px 0;
}


// –––––––––– TeaserGroup // teaser-group ––––––––––
article.teaser-group {
	margin: 100px 0;
	h2 {
		margin-bottom: 35px;
	}
	.card {
		.card-body {
			padding: 20px 0;
		}
	}
	@include media-breakpoint-down(lg) {
		.card {
			margin-bottom: 30px;
		}
	}
}


// –––––––––– FullImageWithColumnText // fullimage-with-columntext ––––––––––
article.fullfullimage-with-columntext {

}


// –––––––––– ImageWithText // image-withtext ––––––––––
article.image-with-text {
	margin: 100px 0;

	.card {
		padding: 0 0 0 30px;
		box-shadow: none;
		&.right {
			padding: 0 30px 0 0;
		}
	}
}


// –––––––––– HighlightGroup // highlight-group ––––––––––
article.highlight-group {
	margin: 100px 0;
	h2 {
		margin-bottom: 35px;
	}
	.card {	
		.card-body {
			padding: 20px;
		}
	}
	@include media-breakpoint-down(lg) {
		.card {
			margin-bottom: 30px;
		}
	}
}


// –––––––––– Highlight // highlight ––––––––––
article.highlight {
	margin: 100px 0;
	figure {
		margin-bottom: 20px;
	}
}


// –––––––––– Testimonial // testimonial ––––––––––
article.testimonial {
	margin: 100px 0;
	text-align: center;

	figure.testimonial-icon {
		width: 60px;
		height: 60px;
		margin: 0 auto;
		margin-bottom: 20px;
	}
}

// –––––––––– Timeline ––––––––––
