@charset "utf-8";

// Import Variables and Specials
@import "main-variables";

// Import all Bootstrap styles
@import "../lib/bootstrap/scss/functions";
@import "../lib/bootstrap/scss/variables";
@import "../lib/bootstrap/scss/mixins";
@import "../lib/bootstrap/scss/root";
@import "../lib/bootstrap/scss/type";
@import "../lib/bootstrap/scss/images";
@import "../lib/bootstrap/scss/code";
@import "../lib/bootstrap/scss/grid";
@import "../lib/bootstrap/scss/tables";
@import "../lib/bootstrap/scss/forms";
@import "../lib/bootstrap/scss/buttons";
@import "../lib/bootstrap/scss/transitions";
@import "../lib/bootstrap/scss/dropdown";
// @import "../lib/bootstrap/scss/button-group";
// @import "../lib/bootstrap/scss/input-group";
// @import "../lib/bootstrap/scss/custom-forms";
@import "../lib/bootstrap/scss/card";
// @import "../lib/bootstrap/scss/breadcrumb";
// @import "../lib/bootstrap/scss/pagination";
@import "../lib/bootstrap/scss/badge";
// @import "../lib/bootstrap/scss/jumbotron";
// @import "../lib/bootstrap/scss/alert";
// @import "../lib/bootstrap/scss/progress";
@import "../lib/bootstrap/scss/media";
@import "../lib/bootstrap/scss/list-group";
@import "../lib/bootstrap/scss/close";
// @import "../lib/bootstrap/scss/toasts";
@import "../lib/bootstrap/scss/modal";
@import "../lib/bootstrap/scss/tooltip";
@import "../lib/bootstrap/scss/popover";
// @import "../lib/bootstrap/scss/carousel";
// @import "../lib/bootstrap/scss/spinners";
@import "../lib/bootstrap/scss/utilities";
@import "../lib/bootstrap/scss/print";

// Import Maisengasse styles
@import "maisengasse/helpers.scss";
@import "maisengasse/components.scss";
// @import "maisengasse/navs.scss";
@import "stencils.scss";


// –––––––––––––––––––––––––––––– General Settings ––––––––––––––––––––––––––––––
// --> additional settings in critical.scss


// –––––––––––––––––––––––––––––– Typography ––––––––––––––––––––––––––––––
h1 {

}

h2 {
    font-size: $font-size-h2;
    font-weight: $font-weight-medium;
    color: $brand-primary;
    margin-bottom: 15px;
}

h3 {
    font-size: $font-size-h3;
    font-weight: $font-weight-medium;
}

p {
    font-size: $font-size-base;
    line-height: 1.45em;
}

a {
    color: $brand-primary;
    &:hover {
        color: darken($brand-primary, 30%);
    }
}

// –––––––––––––––––––––––––––––– Header ––––––––––––––––––––––––––––––
// --> additional settings in critical.scss


// –––––––––––––––––––––––––––––– Content ––––––––––––––––––––––––––––––
div#content {

    // Maximalbreite Inhalte
    @include media-breakpoint-up($max-content-width) {
        max-width: $max-content-width;
        margin: 0 auto;
    }

}

.card {
    border: none;
    border-radius: $border-radius;
    //box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
    .card-header,
    .card-body,
    .card-footer {
        background-color: transparent;
        border: none;
        padding: 0;
    }
}


// –––––––––––––––––––––––––––––– SlickSlider ––––––––––––––––––––––––––––––
.slick-slider {
    position: relative;
    margin: 0 !important;
    .slick-prev, .slick-next {
        position: absolute !important;
        width: 50px;
        height: 50px;
        background-color: transparentize($brand-primary, .3);
        display: block;
        z-index: 3;
        // transition: all .5s;
        &:hover {
            background-color: $brand-primary;
        }
    }

    .slick-disabled {
        opacity: 0;
    }

    .slick-prev.slick-arrow {
        left: 25px;
        background-image: url('../img/icons/arrow-left-white.svg');
        background-position: 16.5px 14px;
        background-size: auto 40%;
        background-repeat: no-repeat;
        // box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
    }

    .slick-prev:before,
    .slick-next:before {
        display: none;
    }

    .slick-next.slick-arrow {
        right: 25px;
        background-image: url('../img/icons/arrow-right-white.svg');
        background-position: 20px 14px;
        background-size: auto 40%;
        background-repeat: no-repeat;
        // box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
    }
}

// –––––––––––––––––––––––––––––– Stencils ––––––––––––––––––––––––––––––


// –––––––––––––––––––––––––––––– Footer ––––––––––––––––––––––––––––––
footer#bottom {

    // Partner
    .partners {
        padding: 15px 0;
        background-color: $brand-primary;

        a {
            color: $white;
        }

        // Partner Listen
        .partner-list,
        .link-list {
            padding: 0;
            margin: 0;
            list-style-type: none;
            li {
                display: inline-block;
            }
        }

        // Partner Links links
        .link-list {
            li {
                margin-right: 15px;
                &:last-of-type {
                    margin: 0;
                }
            }
        }

        // Partner Logos rechts
        .partner-list {
            text-align: right;
        }

        // Partner Logo Maisengasse
        .maisengasse {
            display: block;
            width: 43px;
            height: 30px;
            background-image: url('../img/maisengasse.svg');
            background-size: auto 100%;
            background-repeat: no-repeat;
            text-indent: 10000px;
            overflow: hidden;
            position: relative;
            top: 3px;

        }
    }
}


// –––––––––––––––––––––––––––––– Specials ––––––––––––––––––––––––––––––
// Cover Background
.cover-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 0;

    a {
        display: block;
        width: 100%;
        height: 100%;
    }

    .slick-list, .slick-track, figure, img {
        height: 100% !important;
        margin-bottom: 0;
    }

    img {
        @include object-fit(cover, center);
    }
}