@charset "utf-8";

// Import Variables and Specials
@import "main-variables";

// Import all Bootstrap styles
@import "../lib/bootstrap/scss/functions";
@import "../lib/bootstrap/scss/variables";
@import "../lib/bootstrap/scss/mixins";
@import "../lib/bootstrap/scss/root";
@import "../lib/bootstrap/scss/type";
@import "../lib/bootstrap/scss/images";
@import "../lib/bootstrap/scss/code";
@import "../lib/bootstrap/scss/grid";
@import "../lib/bootstrap/scss/tables";
@import "../lib/bootstrap/scss/forms";
@import "../lib/bootstrap/scss/buttons";
@import "../lib/bootstrap/scss/transitions";
@import "../lib/bootstrap/scss/dropdown";
// @import "../lib/bootstrap/scss/button-group";
// @import "../lib/bootstrap/scss/input-group";
// @import "../lib/bootstrap/scss/custom-forms";
@import "../lib/bootstrap/scss/card";
// @import "../lib/bootstrap/scss/breadcrumb";
// @import "../lib/bootstrap/scss/pagination";
@import "../lib/bootstrap/scss/badge";
// @import "../lib/bootstrap/scss/jumbotron";
// @import "../lib/bootstrap/scss/alert";
// @import "../lib/bootstrap/scss/progress";
@import "../lib/bootstrap/scss/media";
@import "../lib/bootstrap/scss/list-group";
@import "../lib/bootstrap/scss/close";
// @import "../lib/bootstrap/scss/toasts";
@import "../lib/bootstrap/scss/modal";
@import "../lib/bootstrap/scss/tooltip";
@import "../lib/bootstrap/scss/popover";
// @import "../lib/bootstrap/scss/carousel";
// @import "../lib/bootstrap/scss/spinners";
@import "../lib/bootstrap/scss/utilities";
@import "../lib/bootstrap/scss/print";

// Import Maisengasse styles
@import "maisengasse/components.scss";
@import "maisengasse/helpers.scss";
@import "stencils.scss";


// –––––––––––––––––––––––––––––– General Stylings ––––––––––––––––––––––––––––––
// --> additional settings in critical.scss


// –––––––––––––––––––––––––––––– Typography Stylings ––––––––––––––––––––––––––––––
// --> additional settings in critical.scss


// –––––––––––––––––––––––––––––– Header Stylings ––––––––––––––––––––––––––––––
// --> additional settings in critical.scss


// –––––––––––––––––––––––––––––– Content Stylings ––––––––––––––––––––––––––––––
.cover-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 0;

    a {
        display: block;
        width: 100%;
        height: 100%;
    }

    .slick-list, .slick-track, figure, img {
        height: 100% !important;
        margin-bottom: 0;
    }

    img {
        @include object-fit(cover, center);
    }
}

.card {
    border: none;
    border-radius: $border-radius;
    .card-header,
    .card-body,
    .card-footer {
        background-color: transparent;
        border: none;
        padding: 0;
    }
}


// –––––––––––––––––––––––––––––– Stencil Stylings ––––––––––––––––––––––––––––––
main#content {
    margin-top: 120px;
    > article {
        margin-bottom: 120px;
    }
}


// –––––––––––––––––––––––––––––– Footer Stylings ––––––––––––––––––––––––––––––
footer#bottom {
    p,
    a {
        margin-bottom: 0;
        color: $white;
    }
    .contact {
        padding: 30px 0;
        background-color: $brand-primary;
    }
    .partners {
        padding: 20px 0;
        background-color: darken($brand-primary, 5%);
        .partner-list,
        .link-list {
            padding: 0;
            margin: 0;
            list-style-type: none;
            li {
                display: inline-block;
            }
        }
        .link-list {
            li {
                margin-right: 15px;
                &:last-of-type {
                    margin: 0;
                }
            }
        }
        .partner-list {
            text-align: right;
        }
        .maisengasse {
            display: block;
            width: 43px;
            height: 30px;
            background-image: url('../img/maisengasse.svg');
            background-size: auto 100%;
            background-repeat: no-repeat;
            text-indent: 10000px;
            overflow: hidden;
            text-align: unset;
            white-space: nowrap;
        }
    }
}